{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">

    {% include 'navbar.html' %}

    <div class="main-container">
        <div class="bread-crumb-container">
            <a href="{% url 'sub_chapter_list' %}"><span class="parent">Sub Chapter</span></a>><span>Create</span>
        </div>
        <form method="POST" action="{% url 'create_sub_chapter' %}" enctype="multipart/form-data" id="CreateFormId">
            {% csrf_token %}
            <div class="mb-3">
                <div class="form-label required">Image</div>
                <label for="ImageField" class="image-box" style="background-image: url(/static/images/default-image.jpg);/"></label>
                <input type="file" id="ImageField" name="thumbnail" style="display: none;">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label required">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
           
            <div class="mb-3">
                <label for="chapter" class="form-label required">Chapter</label>
                <select class="form-control" name="chapter" id="chapter">
                    <option value="">--select a Chapter--</option>
                    {% for item in chapters %}
                    <option value="{{item.id}}">{{item.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label required">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <div class="form-label required">Video</div>
                {% comment %} <label for="video" class="image-box" style="background-image: url(/static/images/video-placeholder.jpg);/"></label> {% endcomment %}
                <input type="file" id="video" name="video" >
            </div>
             <div class="mb-3">
                <label for="order" class="form-label required">Order</label>
                <input type="number" placeholder="Sub Chapter order" class="form-control" id="order" name="order"></textarea>
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label required">Duration</label>
                <input type="number" placeholder="In seconds" class="form-control" id="duration" name="duration"/>
            </div>

            <a href="{% url 'chapter_list' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/showSelectedImage.js' %}"></script>
<script src="{% static 'js/validationMessageGenerator.js' %}"></script>
<script>
    const handleSubmitForm = (e)=>{
        e.preventDefault();
        const ImageField = document.getElementById('ImageField');
        const ccccc = document.getElementById('first_name');
        const last_name = document.getElementById('last_name');
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const phone = document.getElementById('phone');
        const batch = document.getElementById('batch');
        const start_date = document.getElementById('start_date');
        const end_date = document.getElementById('end_date');
        const student_bio = document.getElementById('student_bio');
        
        if(!ImageField.value){
            showValidationError(ImageField,"Customer image is required")
        } 
        else if (!first_name.value.trim()) {
            showValidationError(first_name, "First name is required");
        } else if (!last_name.value.trim()) {
            showValidationError(last_name, "Last name is required");
        } else if (!email.value.trim()) {
            showValidationError(email, "Email is required");
        } else if (!password.value.trim()) {
            showValidationError(password, "Password is required");
        } else if (!phone.value.trim()) {
            showValidationError(phone, "Phone number is required");
        } else if (!batch.value) {
            showValidationError(batch, "Batch is required");
        } else if (!start_date.value) {
            showValidationError(start_date, "Start date is required");
        } else if (!end_date.value) {
            showValidationError(end_date, "End date is required");
        } else if (!student_bio.value.trim()) {
            showValidationError(student_bio, "Student bio is required");
        } else {
            document.getElementById("CreateFormId").submit();
        }
    }

</script>
{% endblock %}