{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">

    {% include 'navbar.html' %}

    <div class="main-container">
        <div class="bread-crumb-container">
            <a href="{% url 'batch_list' %}"><span class="parent">Batch</span></a>><span>Update</span>
        </div>
        <form method="POST" action="{% url 'update_batch' pk=context_data.id %}" enctype="multipart/form-data"
            id="CreateFormId">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label required">name</label>
                <input type="text" value="{{context_data.name}}" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="code" class="form-label required">code</label>
                <input type="text" value="{{context_data.code}}" class="form-control" id="code" name="code">
            </div>
            <a href="{% url 'batch_list' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/showSelectedImage.js' %}"></script>
<script src="{% static 'js/validationMessageGenerator.js' %}"></script>
<script>
    const handleSubmitForm = (e) => {
        e.preventDefault();
        const ImageField = document.getElementById('ImageField');
        const ccccc = document.getElementById('first_name');
        const last_name = document.getElementById('last_name');
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const phone = document.getElementById('phone');
        const batch = document.getElementById('batch');
        const start_date = document.getElementById('start_date');
        const end_date = document.getElementById('end_date');
        const student_bio = document.getElementById('student_bio');

        let update_image = ImageField ? ImageField.getAttribute("data-value") || "" : "";

        if (!ImageField.value && !update_image.length > 0) {
            showValidationError(ImageField, "Customer image is required")
        }
        else if (!first_name.value.trim()) {
            showValidationError(first_name, "First name is required");
        } else if (!last_name.value.trim()) {
            showValidationError(last_name, "Last name is required");
        } else if (!email.value.trim()) {
            showValidationError(email, "Email is required");

        } else if (!phone.value.trim()) {
            showValidationError(phone, "Phone number is required");
        } else if (!batch.value) {
            showValidationError(batch, "Batch is required");
        } else if (!start_date.value) {
            showValidationError(start_date, "Start date is required");
        } else if (!end_date.value) {
            showValidationError(end_date, "End date is required");
        } else if (!student_bio.value.trim()) {
            showValidationError(student_bio, "Student bio is required");
        } else {
            document.getElementById("CreateFormId").submit();
        }
    }

</script>
{% endblock %}